[Unit]
Description=RaZberry Z-Way server

[Service]
User=nobody
WorkingDirectory=/opt/z-way-server/
Environment="LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/z-way-server/libs"
ExecStart=/opt/z-way-server/z-way-server
KillMode=process
Restart=always
